<%= content_tag(:h1, (current_user.profile ? "Here is what you told us, Edit your profile" : "Tell us your business profile")) %>

<%#= error_messages_for(:profile, :order => [:name, :web_url, :address1, :address2, :city, :state, :zip, :phone, :email, :twitter_id], :message => "", :header_message => "")%>
<%=form_for :profile, :url => profile_path, :html => {:id => "submit_form", :multipart => true} do |f| %>
  <p class="control">
      <%= label_tag(:name, "Name") %>
      <%= f.text_field :name, :class => "w250px" %>
  </p>
  <p class="control">
      <%= label_tag(:address1, "Address1") %>
      <%= f.text_field :address1, :class => "w250px" %>
  </p>
  <p class="control">
      <%= label_tag(:address2, "Address2") %>
      <%= f.text_field :address2, :class => "w250px" %>
  </p>
  <p class="control">
      <%= label_tag(:city, "City") %>
      <%= f.text_field :city, :class => "w250px" %>
  </p>
  <p class="control">
      <%= label_tag(:state, "State") %>
      <%= f.text_field :state, :class => "w250px" %>
  </p>
  <p class="control">
      <%= label_tag(:zip, "Zip") %>
      <%= f.text_field :zip, :class => "w250px" %>
  </p>  
  <p class="control">
      <%= label_tag(:phone, "Phone") %>
      <%= f.text_field :phone, :class => "w250px" %>
  </p>
  <p class="control">
      <%= label_tag(:website, "Website") %>
      <%= f.text_field :website, :class => "w250px" %>
  </p>
  <p class="control">
    <%= f.submit("Go!", :style => "display:none;") %>
    <%= link_to("Go!", {}, :class => "button-short green", :onclick => "var f = document.forms['submit_form'];f.submit();return false;") %>
    <%= link_to("Cancel", "javascript:history.back();", :class => "alter-link") if current_user.profile%>
  </p>
<% end %>
