<h1>Plz. review your booking details & enter all required info, thanks!</h1>
<%#= error_messages_for :payment %>
<%= form_for :payment, :url => payments_path(@payment), :html => {:id => "payment_form"} do |f| %>
  <%#= f.hidden_field :price, :value => session[@product.id] %>
  <% offer = @payment.offer%>
  <% product = offer.product %>
<div class="product">

   <div class="visual">
        <%=image_tag(product.image.url(:original,false))%>
    </div>
    <h1><%=@product.show_name%> <%= number_to_currency((@payment.price), :precision => 2) %> </h1>    
  <p class="control">
      <label>First Name </label>
      <%= f.text_field :first_name,:class => "w250px"%>
  </p>
  <p class="control">
      <label>Last Name </label>
      <%= f.text_field :last_name,:class => "w250px"%>
  </p>
  <p class="control">
      <label>E-mail Address </label>
      <%= f.text_field :email, :class => "w250px" %>
  </p>
  <p class="control">
      <label>Card Type </label>
      <%= f.select :card_type, (Payment::CARD_TYPES.sort!), :class => "w250px" %>
  </p>
  <p class="control">
      <label>Credit Card Number </label>
      <%= f.text_field :card_number, :maxLength => 16, :class => "w250px", :onKeyPress => "return keyAllowed(event,'0123456789')" %>
  </p>
  <p class="control" style="text-align: left;">
      <label>Expiration Date </label>
      <%= f.select :cc_expiry_m1, (Payment.month_options((Date.today.month))).collect{|i| [i[0].titleize, i[1]]}, {:selected => @month}, :id => "cc_expiry_m1",:class => "expire_select" %>
      <%= f.select :cc_expiry_m2, (Payment.month_options(1)).collect{|i| [i[0].titleize, i[1]]}, {:selected => @month}, :id => "cc_expiry_m2",:class => "expire_select" %>
      <%= f.select :cc_expiry_year, ((Date.today.year)...(Date.today.year+7)).collect{|i| [i,i]}, {}, :onchange => "if(this.value==#{Date.today.year}){$('#cc_expiry_m1').show();$('#cc_expiry_m2').hide();}else{$('#cc_expiry_m2').show();$('#cc_expiry_m1').hide();}",:class => "expire_select" %>
  </p>
  
  <p class="control">
      <label>3 or 4 digit security code </label>
      <%= f.text_field :cvv, :maxLength => 4, :class => "w250px", :onKeyPress => "return keyAllowed(event,'0123456789')" %>
  </p>

  <p class="control">
      <label>Postal Code (US, Canada) </label>
      <%= f.text_field :postal_code, :class => "w250px", :onKeyPress => "return keyAllowed(event,'#{("0".."9").to_a * ""} ')" %>
  </p>
  <p class="control">
      <label>Country </label>
      <%= f.select :country, options_for_select([["USA","US"]]), {}, :class => "w250px" %>
  </p>
  
  <p class="control">
      <%= f.submit("Book a Ticket", :class=> "book") %>
  </p>
<% end %>
</div>
<%=javascript_tag do %>
    <% if @payment %>
      <% if @payment.cc_expiry_year == Date.today.year %>
          $('#cc_expiry_m2').hide();
      <% else %>
          $('#cc_expiry_m1').hide();
      <% end %>
    <% else %>
        $('#cc_expiry_m2').hide();
    <% end %>
    
    jQuery(document).ready(function(){

     if (jQuery("#payment_card_type").val() == "american_express"){
      jQuery("#payment_card_number").attr("maxlength",15);
     }
     else
      jQuery("#payment_card_number").attr("maxlength",16);     

     jQuery("#payment_card_type").change(function(){
        jQuery("#payment_card_number").attr("value","");
        if (this.value == "american_express")
          jQuery("#payment_card_number").attr("maxlength",15);
        else
          jQuery("#payment_card_number").attr("maxlength",16);
     });
   });

<% end %>
